/* Common styles for all screen sizes */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; /* Use Roboto font for the body */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(238, 238, 94);
    padding: 20px;
    color: rgb(24, 21, 21);
}

.flag img {
    margin-left: auto; /* Pushes the flag to the right */
    max-width: 100px;
    animation: bounce 1s ease-in-out infinite alternate; 
}

.logo {
    margin-right: auto; /* Pushes the logo to the right */
}

.logo img {
    max-width: 100px;
}

.logo2 {
    margin-left: auto; /* Pushes the logo to the right */
}

.logo2 img {
    max-width: 100px;
    animation: rotate 4s linear infinite reverse; /* Logo animation */
}

.temple-name {
    text-align: center; /* Center the temple name */
    flex-grow: 1; /* Allow the temple name to grow and take up remaining space */
}

.temple-name h1 {
    margin: 0;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif; /* Use Montserrat font for the temple name */
}

.toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;
    font-size: 1.5em;
}

.toggle-button:hover {
    color: #555;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; /* Background color for the navigation bar */
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif; /* Use Roboto font for the navigation links */
    border-radius: 10px; /* Add rounded corners to the navigation links */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.navbar a:hover {
    background-color: #555; /* Darken background color on hover */
}

.submenu {
    display: none;
    position: absolute;
    background-color: #333;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.submenu li {
    float: none;
    display: list-item;
    position: relative;
}

.submenu a {
    padding: 12px 16px;
}

.navbar li:hover .submenu {
    display: block;
}

/*slider*/
.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}


.slides {
    display: flex;
    transition: transform 0.5s ease;
    
}

.slides img {
    width: 100%;
    /*height: 425px;*/
    height: 610px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    color: white;
    cursor: pointer;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.arrow-left {
    left: 0;
}

.arrow-right {
    right: 0;
}
.pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #333;
}

/* Map container */
.map-container {
    width: 100%;
    height: 400px; /* Adjust height as needed */
    margin: 20px auto;
    text-align: center;
    position: relative;
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* Image and description */
.image-section {
    text-align: center;
    margin: 20px auto;
}

.content-box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.image-section img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.description {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    flex-grow: 1;
    width: 100%;
    max-width: 600px;
}

.description p {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 0;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-section img {
    margin-right: auto;
    max-width: 100px;
    animation: bounce 1.5s infinite alternate;
}

.footer-section {
    flex: 1;
    margin: 0 10px;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    .logo img,
    .logo2 img {
        max-width: 60px;
    }

    .navbar a {
        padding: 10px 12px;
    }

    .footer-section img {
        max-width: 80px;
    }

    .footer-section {
        margin: 10px;
    }

    .image-container div {
        margin: 5px;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar li {
        margin: 10px 0;
    }

    .description p {
        font-size: 1em;
    }

    .carousel {
        width: 1600%; /* Double the width of one image for mobile */
        animation: slide 80s infinite; /* Adjust animation speed for mobile */
    }
}
/* Responsive styles */

@media only screen and (max-width: 768px) {
    .logo img,
    .logo2 img {
        max-width: 60px; /* Adjust logo size for smaller screens */
    }

    .navbar a {
        padding: 10px 12px; /* Adjust navigation item padding */
    }

    .footer-section img {
        max-width: 80px; /* Adjust footer logo size */
    }

    .footer-section {
        margin: 10px; /* Adjust footer section margin */
    }

    .image-container div {
        margin: 5px; /* Adjust image container for smaller screens */
    }

    .navbar {
        flex-direction: column; /* Change direction to vertical for mobile */
        align-items: center; /* Center items in the navbar */
    }

    .navbar li {
        margin: 10px 0; /* Adjust margin for mobile */
    }

    .description p {
        font-size: 1em; /* Further adjust font size for smaller screens */
    }
    .carousel {
        width: 1600%; /* Double the width of one image for mobile */
    }
}

@media only screen and (max-width: 480px) {
    .logo img,
    .logo2 img {
        max-width: 50px; /* Adjust logo size for even smaller screens */
    }

    .footer-section img {
        max-width: 60px; /* Adjust footer logo size for even smaller screens */
    }

    .description p {
        font-size: 0.9em; /* Further adjust font size for even smaller screens */
    }
    .carousel {
        width: 3200%; /* Quadruple the width of one image for smaller screens */
    }
}

/* Logo and footer animations */

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}
@keyframes example {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}
